.total-page {
  padding-left: 4px;
  cursor: default;
}
#e-de-editableDiv {
  width: 100%;
  overflow-y: auto;
  padding: 5px;
}

#e-de-fm-toolbar {
  height: auto;
  width: 100%;
  margin-top: 12px;
  position: relative;
}
.e-de-parent {
  height: auto;
  width: 100%;
}